/*-------------------------------------------HEADER---------------------------------------------------------------*/
.header {
    
    height: 90vh;
    background-image: linear-gradient(rgba(0,0, 0 ,.3 ), rgba(255,255,255 ,.6 )),url(../img/20507331_1857300657619974_4972240411029206518_o.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    @media only screen and (max-width: 1024px) {
        height: 100vh; 
    }

    @media only screen and (max-width: 812px) {
        height: 100vh; 
    }

    @media only screen and (max-width: 736px) {
        height: 100vh; 
    }

    @media only screen and (max-width: 732px) {
        height: 100vh; 
    }

    @media only screen and (max-width: 640px) {
        height: 100vh; 
    }

    @media only screen and (max-width: 450px) {
        height: 100vh; 
    }

    @media only screen and (max-width: 412px) {
        height: 100vh; 
    }

    @media only screen and (max-width: 375px) {
        height: 100vh; 
    }
    

    @media only screen and (max-width: 360px) {
        height: 100vh; 
    }
    
    &__main-navigation {
        height: 5rem;
        display: flex;
        align-items: center;
        align-items: center;

        &-lists {
            display: flex;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            max-width: 1140px;
            margin: 0 auto;
            list-style: none;
            width: 40%;
            cursor: pointer;
            color: #fff;
            @media only screen and (max-width: 1400px) {
                width: 70%;
                font-size: 25px; 
            }
            @media only screen and (max-width: 1024px) {
                width: 65%;
                font-size: 20px; 
            }
            @media only screen and (max-width: 812px) {
                width: 60%;
                font-size: 18px; 
            }
        

            @media only screen and (max-width: 736px) {
                width: 70%;
                font-size: 18px; 
            }
            @media only screen and (max-width: 732px) {
                width: 80%;
                font-size: 18px; 
            }
            @media only screen and (max-width: 640px) {
                width: 80%;
                font-size: 18px;
            }

            @media only screen and (max-width: 450px) {
                width: 90%;
                font-size: 15px;
            }

            @media only screen and (max-width: 412px) {
                width: 90%;
                font-size: 15px;
            }

            @media only screen and (max-width: 375px) {
                width: 90%;
                font-size: 15px;
            }
                
            @media only screen and (max-width: 360px) {
                width: 90%;
                font-size: 15px;
            }

             & a {
                text-decoration: none;
             }

             & a:hover {
                 border-bottom: 3px solid #fff;
                 padding-bottom: .5rem;
             }
        }
    }

    &__side-navigation {
        position: fixed;
        left: 3rem;
        top: 25%;
        width: 20%;
        height: 10rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        backface-visibility: hidden;
        z-index: 9999;
        
        @media only screen and (max-width: 1024px) {
            left: 1rem;  
        }
        @media only screen and (max-width: 812px) {
            left: 1rem; 
        }
        @media only screen and (max-width: 736px) {
            left: .5rem; 
        }
        @media only screen and (max-width: 732px) {
            left: .5rem; 
        }

        @media only screen and (max-width: 640px) {
            left: .5rem;
        }

        @media only screen and (max-width: 450px) {
            left: .5rem;
        }
        @media only screen and (max-width: 412px) {
            left: .5rem;
        }

        @media only screen and (max-width: 375px) {
            left: .5rem;
        }
        
        @media only screen and (max-width: 360px) {
            left: .5rem;
           
        }

    
        &-lists {
            list-style: none;
    
            & li {
                margin-bottom: 20px;
              
            }
        }
    }

    &__main-heading {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
       
        &-heading {
            font-weight: 200;
            font-family: inherit;
            font-size: 5rem;
            color: #fff;
            @media only screen and (max-width: 1024px) {
                font-size: 3.5rem; 
            }
            @media only screen and (max-width: 812px) {
                font-size: 3rem;
            }
            @media only screen and (max-width: 736px) {
                font-size: 2.5rem;
            }
            @media only screen and (max-width: 732px) {
                font-size: 2.5rem;
            }
    
            @media only screen and (max-width: 640px) {
                font-size: 2.5rem;
            }

            @media only screen and (max-width: 450px) {
                font-size: 2rem;
            }
           

            @media only screen and (max-width: 412px) {
                font-size: 2rem;
            }

            @media only screen and (max-width: 375px) {
                font-size: 2rem;
            }
            @media only screen and (max-width: 360px) {
                font-size: 2rem;
            }
        }
    
        &-paragraph {
            font-style: italic;
            color: #fff;
            font-size: 2rem;
            @media only screen and (max-width: 1024px) {
                font-size: 1.5rem;
            }
            @media only screen and (max-width: 812px) {
                font-size: 1.5rem;
            }
            @media only screen and (max-width: 736px) {
                font-size: 1.5rem;
            }
            @media only screen and (max-width: 732px) {
                font-size: 1.5rem;
            }
            @media only screen and (max-width: 640px) {
                font-size: 1.5rem;
            }

            @media only screen and (max-width: 450px) {
                font-size: 1rem;
            }
            @media only screen and (max-width: 412px) {
                font-size: 1rem;
            }
            @media only screen and (max-width: 375px) {
                font-size: 1rem;
            }
            @media only screen and (max-width: 360px) {
                font-size: 1rem;
            }
        }
    }
}

.fa-facebook, .fa-twitter, .fa-instagram, .fa-linkedin {
    font-size: 1.5rem;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-linkedin:hover {
    transform: scale(2);
    transition: all 0.5s;
}

a:link, a:visited {
    color: #fff;
}

.fa-facebook:hover {
    color: #3B5998;
} 
  
.fa-twitter:hover {
    color: #00B6F1;
}  
  
.fa-instagram:hover {
    color: #C32AA3;
}  
  
.fa-linkedin:hover {
    color: #007bb5;
}

a {
    text-decoration: none;
}

.fa {
    @media only screen and (max-width: 1024px) {
        font-size: 25px;
    }
    @media only screen and (max-width: 812px) {
        font-size: 25px;
    }
    @media only screen and (max-width: 736px) {
        font-size: 20px;
    }
    @media only screen and (max-width: 732px) {
        font-size: 20px;
    }
    @media only screen and (max-width: 640px) {
        font-size: 20px;
    }

    @media only screen and (max-width: 450px) {
        font-size: 15px;
    }

    @media only screen and (max-width: 412px) {
        font-size: 15px;
    }

    @media only screen and (max-width: 375px) {
        font-size: 15px;
    }
    @media only screen and (max-width: 360px) {
        font-size: 18px;
    }
}

/*-------------------------------------------SECTION-PEOPLE---------------------------------------------------------------*/
.section__people {
    background-image: url(../img/IMG_0503.JPG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
}

.section__people-main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.section__people-main-heading-heading,
.section__places-main-heading-heading, 
.section__about-main-heading-heading, 
.section__contact-main-heading-heading {
    text-transform: uppercase;
    margin-top: 15%;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 3px;
    @media only screen and (max-width: 1024px) {
        font-size: 2rem;
        margin-top: 30%;
    }
    @media only screen and (max-width: 812px) {
        font-size: 2rem;
        margin-top: 10%;
    }
    @media only screen and (max-width: 736px) {
        font-size: 1.5rem;
        margin-top: 10%;
    }
    @media only screen and (max-width: 732px) {
        font-size: 1.5rem;
        margin-top: 10%;
    }
    @media only screen and (max-width: 640px) {
        font-size: 1.75rem;
        margin-top: 10%;
    }
    @media only screen and (max-width: 450px) {
        font-size: 1.5rem;
        margin-top: 50%;
    }

    @media only screen and (max-width: 412px) {
        font-size: 1.5rem;
        margin-top: 10%;
    }
    @media only screen and (max-width: 360px) {
        font-size: 1.5rem;
        margin-top: 50%;
    }
}

.section__people-main-heading-btn, 
.section__places-main-heading-btn, 
.section__about-main-heading-btn, 
.section__contact-main-heading-btn {
    background-color: transparent;
    font-size: 1rem;
    padding: 3px 8px;
    margin-top: 1rem;
    font-style: italic;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    @media only screen and (max-width: 1024px) {
        font-size: .75rem;
    }
    @media only screen and (max-width: 812px) {
        font-size: .75rem;
    }
    @media only screen and (max-width: 736px) {
        font-size: .5rem;
    }
    @media only screen and (max-width: 732px) {
        font-size: .5rem; 
    }
    @media only screen and (max-width: 640px) {
        font-size: .75rem;
    }
    @media only screen and (max-width: 450px) {
        font-size: .5rem;
    }
    @media only screen and (max-width: 412px) {
        font-size: .5rem;
    }

    @media only screen and (max-width: 360px) {
        font-size: .5rem;
    }
}

.section__people-mainPage {
    background-image:url(../img/people/IMG_0262.JPG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
}

.section__people-mainPage-heading {
    text-transform: uppercase;
    margin-top: 5%;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 3px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @media only screen and (max-width: 1024px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 812px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 736px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 732px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 640px) {
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 450px) {
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 412px) {
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 360px) {
        font-size: 1.5rem;
    }
}

.section__people-mainPage-photoSamples {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

.section__people-mainPage-photoSamples img {
    height: 15rem;
    width: auto;
    padding: .5rem;
    @media only screen and (max-width: 360px) {
        width: 90%;
        height: auto;
    }
}

/*-------------------------------------------SECTION-PLACES---------------------------------------------------------------*/

.section__places {
    background-image: linear-gradient(rgba(0,0, 0 ,.3 ), rgba(0,0, 0 ,.9 )), url(../img/IMG_1171.JPG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
}

.section__places-main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}



.section__places-mainPage {
    background-image: linear-gradient(rgba(0,0, 0 ,.3 ), rgba(0,0, 0 ,.9 )), url(../img/25158206_2009102752439763_3726346467244610021_n.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
}

.section__places-mainPage-heading {
    text-transform: uppercase;
    margin-top: 5%;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 3px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @media only screen and (max-width: 1024px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 812px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 736px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 732px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 640px) {
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 450px) {
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 412px) {
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 360px) {
        font-size: 1.5rem;
    }
}

.section__places-mainPage-photoSamples {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

.section__places-mainPage-photoSamples img {
    height: 15rem;
    width: 15rem;
    padding: .5rem;
}

/*-------------------------------------------SECTION-ABOUT---------------------------------------------------------------*/

.section__about {
    background-image: url(../img/canon-2600665_1280.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 75vh;
}

.section__about-main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}


.about {
    background-image: url(../img/photo1.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 100vh;
    
   @media only screen and (max-width: 1024px) {
    height: 100vh;
        background-position-x: 15%;
      
    }
    @media only screen and (max-width: 812px) {
        height: 100vh;
        background-position-x: 15%;
    }
    @media only screen and (max-width: 736px) {
        height: 100vh;
        background-position-x: 15%;
    }
    @media only screen and (max-width: 732px) {
        height: 100vh;
        background-position-x: 15%;
    }
    @media only screen and (max-width: 640px) {
        height: 100vh;
        background-position-x: 15%;
    }
    @media only screen and (max-width: 450px) {
        height: 100vh;
        background-position-x: 15%;
    }
    @media only screen and (max-width: 412px) {
        height: 100vh;
        background-position-x: 15%;
    }

    @media only screen and (max-width: 360px) {
        height: 100vh;
        background-position-x: 15%;

    }
}
.about-mainPage {
   background-color: #000;
   background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.9)),url(../img/14449860_1466973049986072_3890932985877826762_n.jpg);
   background-size: contain;
   background-position: right;
   background-attachment: fixed;
   background-repeat: no-repeat;
   height: auto;
   color: #000;
   padding-bottom: 5rem;
   

   @media only screen and (max-width: 360px) {
    background-position: center;
}
   
}

.about-textbox {
   width: 45%;
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 3rem;
   padding-left: 3rem;
   padding-right: 3rem;
   text-align: justify;
   border-radius: 5px;
   border: 1px solid  #faf9f9;
   background-color: rgba(255, 255, 255,.7);
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   @media only screen and (max-width: 1366px) {
    width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }

   @media only screen and (max-width: 1024px) {
    width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }
    @media only screen and (max-width: 812px) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }
    @media only screen and (max-width: 736px) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }
    @media only screen and (max-width: 732px) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }
    @media only screen and (max-width: 640px) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }
    @media only screen and (max-width: 450px) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;  
    }
    @media only screen and (max-width: 412px) {
       width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem; 
    }

   @media only screen and (max-width: 360px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}
}

.about-textbox img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    opacity: .7;
}

img.logo {
    height: 5rem; 
    width: 10rem;
    margin-top: -.75rem;
}

.about-mainPage-heading  {
    text-transform: uppercase;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 3px;
    color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @media only screen and (max-width: 1024px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 812px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 736px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 732px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 640px) {
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 450px) {
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 412px) {
        font-size: 1.5rem;
    }
    
   @media only screen and (max-width: 360px) {
    font-size: 1.5rem;
}
}


/*-------------------------------------------SECTION-CONTACT---------------------------------------------------------------*/

.section__contact {
    background-image: url(../img/background-2847037_1280.jpg);
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section__contact-main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}



.contact {
    background-image: linear-gradient(rgba(0,0, 0 ,.1 ), rgba(0,0, 0 ,.9 )), url(../img/sunset-2794833_1280.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
   
}

.contact__main-container {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media only screen and (max-width: 1024px) {
        padding: 0;
        border: none;
    }

    @media only screen and (max-width: 768px) {
        padding: 0;
        border: none;
    }

   

    @media only screen and (max-width: 450px) {
        padding: 0;
        border: none;
    }

    @media only screen and (max-width: 412px) {
        padding: 0;
        border: none;
    }

    @media only screen and (max-width: 360px) {
        padding: 0;
        border: none;
    }
}

.section__contact-mainPage {
    background-image: linear-gradient(rgba(255,255, 255 ,.6 ), rgba(255,255, 255,.6 )), url(../img/contact-us-1014232_1280.png);
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    color: #000;

    @media only screen and (max-width: 450px) {
        background-image: none;
        background-color: #fff;
    }

    @media only screen and (max-width: 412px) {
        background-image: none;
        background-color: #fff;
    }

    @media only screen and (max-width: 360px) {
        background-image: none;
        background-color: #fff;
    }
}

.section__contact-mainPage-heading {
    text-transform: uppercase;
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 4rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @media only screen and (max-width: 1024px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 812px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 736px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 732px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 640px) {
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 450px) {
        font-size: 1.5rem;
    }
    @media only screen and (max-width: 412px) {
        font-size: 1.5rem;
    }

    @media only screen and (max-width: 360px) {
        font-size: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 0;
    }
}

.section__contact-mainPage-description {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: 812px) {
        width: 80%;
        display: block;
    }
    @media only screen and (max-width: 732px) {
        width: 80%;
        display: block;
    }
    @media only screen and (max-width: 640px) {
        width: 80%;
        display: block;
    }
}

.contact__main-container {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    justify-content: center;
    @media only screen and (max-width: 812px) {
        width: 100%;
        display: block;
    }
   

    @media only screen and (max-width: 768px) {
        width: 100%;
        display: block;
    }
   
 
    @media only screen and (max-width: 450px) {
        width: 100%;
        display: block;
    }
    @media only screen and (max-width: 412px) {
        width: 100%;
        display: block;
    }
    @media only screen and (max-width: 360px) {
        width: 100%;
        display: block;
    }
}

.contact__main-left {
    width: 30%;
    padding: 2rem; 

    @media only screen and (max-width: 812px) {
        padding: 0;
        width: 100%; 
    }
    @media only screen and (max-width: 768px) {
        padding: 0;
        width: 100%; 
    }
    @media only screen and (max-width: 640px) {
      
        width: 100%;
    }
    @media only screen and (max-width: 450px) {
        padding: 0;
        width: 100%;
    }
    @media only screen and (max-width: 412px) {
        padding: 0;
        width: 100%;
    }

    @media only screen and (max-width: 360px) {
        padding: 0;
        width: 100%;
    }
}
.contact__main-left-social {
    width: 100%;

    @media only screen and (max-width: 812px) {
        width: 100%;
        
    }

   
    @media only screen and (max-width: 450px) {
        width: 30%;
        display: none;
    }

    @media only screen and (max-width: 412px) {
        width: 30%;
        display: none;
    }

    @media only screen and (max-width: 360px) {
        width: 30%;
        display: none;

    }
}

.contact__main-left-top {
    text-align: center;
}

.contact__main-left-top h3 {

    @media only screen and (max-width: 412px) {
        font-weight: 300;
        padding-top: 1rem;

    }

    
    @media only screen and (max-width: 360px) {
        font-weight: 300;
        padding-top: 1rem;

    }
}

.contact__main-left-middle {
    text-align: center;
    padding-top: 3rem;

    @media only screen and (max-width: 412px) {
        padding-top: 2rem;
    }

    @media only screen and (max-width: 360px) {
        padding-top: 2rem;
    }
    
}

.contact__main-left-social ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    list-style: none;
    font-size: 20px;
    color: #fff;
    padding-top: 5rem;
}

.contact__main-right {
    padding: 2rem;
    margin-left: .5rem;

    @media only screen and (max-width: 1024px) {
        width: 100%;
    }
    @media only screen and (max-width: 812px) {
        width: 100%;
    }
    @media only screen and (max-width: 736px) {
        width: 100%;
    }
    @media only screen and (max-width: 732px) {
        width: 100%;
        
    }
    @media only screen and (max-width: 640px) {
        width: 100%;
        
    }
    @media only screen and (max-width: 450px) {
        width: 100%;
       
    }
    @media only screen and (max-width: 412px) {
        width: 100%;
        
    }
    @media only screen and (max-width: 360px) {
        width: 100%;
        
    }
   
}

.contact__main-right-form p{
    margin-bottom: .5rem;
}

.contact__main-right-form input {
    width: 516px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(219, 215, 215, 1);
    background-color: rgba(219, 215, 215, 1);

    @media only screen and (max-width: 1024px) {
        
    }
    @media only screen and (max-width: 812px) {
        
    }
    @media only screen and (max-width: 736px) {
        
    }
    @media only screen and (max-width: 732px) {
        width: 100%;
        height: 30px;
    }
    @media only screen and (max-width: 640px) {
        width: 100%;
        height: 30px;
    }
    @media only screen and (max-width: 450px) {
        width: 100%;
        height: 30px;
    }
    @media only screen and (max-width: 412px) {
        width: 100%;
        height: 30px;
    }
    @media only screen and (max-width: 360px) {
        width: 100%;
        height: 30px;
    }
}

.contact__main-right-form textarea {
    width: 516px;
    border-radius: 5px;
    border: 1px solid rgba(219, 215, 215, 1);
    background-color: rgba(219, 215, 215, 1);
    @media only screen and (max-width: 732px) {
        width: 100%;
        
    }
    @media only screen and (max-width: 640px) {
        width: 100%;
        
    }
    @media only screen and (max-width: 450px) {
        width: 100%;
        
    }
    @media only screen and (max-width: 412px) {
        width: 100%;
        
    }

    @media only screen and (max-width: 360px) {
        width: 100%;
    }
}

.contact__main-right-form button {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    font-family: 'Lato';
    font-size: 20px;
    float: right;
    padding: 2px 15px;
    border-radius: 5px;
    font-weight: 300;
}

.contact__main-right-form button:hover {
    cursor: pointer;
}

/*--------------------------------PLACEHOLDER--------------------------------------------------*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #5C5C5C;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px;
    padding: 2px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #5C5C5C;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px;
    padding: 2px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #5C5C5C;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px;
    padding: 2px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #5C5C5C;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px;
    padding: 2px;
  }

/*-------------------------------------------FOOTER---------------------------------------------------------------*/
.footer{
    background-color: #000;
    height: 5rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
   
    
    &__paragraph {
        font-size: 15px;
        color: rgb(119, 119, 119);

        @media only screen and (max-width: 1366px) {
            font-size: 12px;
            font-weight: 700;
        }
    

        @media only screen and (max-width: 1024px) {
            font-size: 12px;
            font-weight: 700;
        }
    
        @media only screen and (max-width: 812px) {
            font-size: 11px;
            font-weight: 700;
        }
    
        @media only screen and (max-width: 736px) {
            font-size: 11px;
            font-weight: 700;
        }
    
        @media only screen and (max-width: 732px) {
            font-size: 11px;
            font-weight: 700; 
        }
    
        @media only screen and (max-width: 640px) {
            font-size: 11px;
            font-weight: 700; 
        }
    
        @media only screen and (max-width: 450px) {
            font-size: 11px;
            font-weight: 700;
        }
    
        @media only screen and (max-width: 412px) {
            font-size: 11px;
            font-weight: 700;
        }
    
        @media only screen and (max-width: 375px) {
            font-size: 11px;
            font-weight: 700;
        }

        @media only screen and (max-width: 360px) {
            font-size: 11px;
            font-weight: 700;
        }
        
        & a:link, & a:visited {
            color: rgb(119, 119, 119);
            text-decoration: none;
        }
    }
}

/*-------------------------------------------ANIMATIONS---------------------------------------------------------------*/

@keyframes moveInLeft {
    0% { 
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
    
}

@keyframes moveInTop { 
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
    
}

